@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}

:root {
  --font-primary: 'Space Grotesk', sans-serif;
  --font-secondary: 'Manrope', 'sans-serif';
}